* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;

}

.main--header {
    padding: 0 20px;

}

.main--header_title {
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
}

.main-nav {
    display: none;
}

.main--header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-menu {
    font-size: 1.5em;
    border: 1px solid black;
    display: block;
    padding: 10px 15px;

}

.main--header_btn {
    display: block;
    padding: 10px 30px;
    color: black;
    border: 1px solid black;
    text-decoration: none;
}

.main-header_input {
    display: block;
    padding: 10px;
}

/*---------------------------------------SLIDER*------------------------------------------------------------*-------------------------------*/

/**/

a {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar {
    box-shadow: 5px 5px 10px;
    padding-bottom: 0px;
    background: green;

}

.navbar_color {
    background: green;
}

.nav-link {
    color: white !important;
    font-size: 15px;
}

/*Stilos productos*/
.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.producto {

    border: 2px solid black;
    padding: 20px;

}

.btn_editar {
    width: 150px;
    margin-top: 10px;
}

.car_efecto {
    margin: auto;
    height: 480px;


}

.car_efecto:hover {
    background-color: yellow;
}

.logo-empresa {
    min-width: 140px;
    max-width: 40px;
    margin-left: 60px;

    border-radius: 10%;
}
.logo-empresa2 {
width: 70px;
height: 60px;
border-radius: 10%;


}

.card-body a {
    text-decoration: none;

}

.card-body button {
    color: white;

}


.contenedor{

display: block;
  
}
.contenedor2{

   width: 500px !important;
   width: auto;
      
    }
   
    .image-fondo li a:hover {
background-color: yellow !important;
border-bottom: 1px solid black;
border-radius: 40px;



    }
    a{
        font-family: 'Rubik', sans-serif;
    }
   .horarios_p ul li {
    color: white;
}
  .bodycard{
width: 100%;
height: 100%;
font-family: sans-serif;
letter-spacing: 0.003em;
line-height: 1.6;
}
.title{
    text-align: center;
    font-size: 40px;
    
    font-weight: 100;
}
.containerd {
width: 100%;
max-width: 1200px;
height: 520px;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: auto;

}
.containerd .card2{
width: 330px;
height: 480px;
border-radius: 8px;
box-shadow:0 2px 2px rgba(0, 0,0,0.2) ;
overflow: hidden;
margin: 20px;
text-align: center;
transition:  all 0.25s;
border:2px solid red;

}
.containerd .card2:hover{
transform: translateY(-15px);
box-shadow: 0 20px 16px rgba(0,0, 255, .4);


}
.containerd .card2 img{
width: 330px;
height: 220px;
}
.containerd .card2 h4{
font-weight: 600;
}
.containerd .card2 p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.imgwhat{
    width: 30px !important;
    height: 30px !important; 
}
.card2 h4 {
    font-family: 'Lobster', cursive;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imgflechas{
    transform: translateY(-15px);
box-shadow: 0 20px 16px rgba(0,0, 255, .4);
}
.locales{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
