*{
    padding: 0%;
    margin: 0%;
}




.logo-empresa{
min-width: 100px;
max-width: 150px;
margin-left: 60px;
border-radius: 10%;
}


.navbar{
background:green ;
    box-shadow: 5px 5px 10px;
   
    padding-bottom: 0px;
  


}
.navbar ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   

}
.navbar li a::before{
    content: "";
    height: 3px;
    width: 0%;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s ease-out;
    }
    .navbar li a:hover::before{
        width: 100%;}

.contenedor{
min-height: 35px;
}
.svg{
    opacity: 40%;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.5));

}

.canvas_tamaño {
    width: 40rem;
}
.nav-link {
    color: white !important;
    font-size: 20px;
}
.emergencia_h1 {
    font-size: 40px;
}
.btn_iniciar {
    background-color:#E1E711!important;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
.contenedor_canvas{
    padding: 200px;
    margin: auto;
}
.canvas_tamaño {
    width: 40rem;
    border-top: 20px solid green;
height: 60rem;
}
.logo_registro {


    margin-left: 150px;
}
.btn_registro{
    background-color: green !important;
}
.title_registro{
    font-size: 25px;
}
#bg-contactos{
    position: relative;
    top: -120px;
}
#seccion-contacto{
    background-color:#1b2a4e;
    min-height: 500px;
    position: relative;

}
    
@media(max-width:768px) {
    #bg-contacto{
       
        top: -110px;
    
    }
}
#contenedor-formulario{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:white;
    border-radius: 20px;
    max-width: 500px;
}
.tituloformulario{
    color: black;
}
/*CARD*/
.horarios_p li {
    color: white !important;
}
.bodycard{
width: 100%;
height: 100%;
font-family: sans-serif;
letter-spacing: 0.003em;
line-height: 1.6;
}
.title{
    text-align: center;
    font-size: 40px;
    
    font-weight: 100;
}


.containerd .card2 img{
width: 330px;
height: 220px;
}
.containerd .card2 h4{
font-weight: 600;
}
.containerd .card2 p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.containerd .card2 button{
font-weight: 900;
background-color: chartreuse;
border-radius: 8px;
margin-top: 10px;
width: 190px;
height: 30px;
}
.imgwhat{
    width: 30px !important;
    height: 30px !important; 
}
.botones{
font-weight: 900;
background-color: chartreuse;
border-radius: 8px;
margin-top: 10px;
width: 190px;
height: 30px;
}
.botones:hover{
    
    box-shadow: 0px 10px 20px;
    -webkit-transform:scale(1.3);transform:scale(1.2);
   
}
/*REDES*/
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}
#spopup{
    background:#f3f3f3;
    border-radius:9px;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    -moz-box-shadow:inset 0 0 3px #333;
    -webkit-box-shadow:inset 0 0 3px #333;
    box-shadow:inner 0 0 3px #333;
    padding:12px 14px 12px 14px;
    width:300px;
    position:fixed;
    bottom:13px;
    right:2px;
    display:none;
    z-index:90;
}

  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  